.Baby_animation {
  animation-name: Baby;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes Baby {
  0% {
    transform: translate(0%, 0%);
  }

  20% {
    transform: translate(-250%, 0%);
  }
  40% {
    transform: translate(-400%, -100%);
  }
  60% {
    transform: translate(-700%, -100%);
  }
  80% {
    transform: translate(-1000%, 0%);
  }
  100% {
    transform: translate(-1400%, 0%);
  }
}

.babyclick {
  animation-name: babyclick;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes babyclick {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}
.paused {
  animation-play-state: paused;
}

.teenager_animation {
  animation-name: teenager;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes teenager {
  0% {
    transform: translate(0%, 0%);
  }
  20% {
    transform: translate(-350%, 0%);
  }
  40% {
    transform: translate(-700%, 0%);
  }
  60% {
    transform: translate(-1050%, 0%);
  }
  80% {
    transform: translate(-1400%, 80%);
  }
  100% {
    transform: translate(-1750%, 80%);
  }
}

.teenagerclick {
  animation-name: teenagerclick;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes teenagerclick {
  0% {
    transform: scale(1);
    rotate: (0deg);
  }

  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.paused {
  animation-play-state: paused;
}

.teenager_animation3 {
  animation-name: teenager3;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes teenager3 {
  0% {
    transform: translate(0%, 0%);
  }
  15% {
    transform: translate(-250%, 0%);
  }
  30% {
    transform: translate(-500%, -40%);
  }
  45% {
    transform: translate(-750%, -40%);
  }
  60% {
    transform: translate(-1000%, 20%);
  }
  80% {
    transform: translate(-1250%, 20%);
  }
  100% {
    transform: translate(-1500%, 20%);
  }
}

.teenager3click {
  animation-name: teenager3click;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes teenager3click {
  0% {
    transform: scale(1);
    rotate: (0deg);
  }

  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.paused {
  animation-play-state: paused;
}
